@model int

@{
    ViewBag.Title = "Situation";
}

<div>
    @Html.Action("GetSituationResult", new { id = Model })
</div>


<div>
    @Html.Action("GetTable", new { id = Model })
</div>

<div style="height:100px; margin-top:10px;">
@Html.ActionLink("Back to Situations", "Search", null, new { @class = "btn btn-default" })
</div>