
@{
    ViewBag.Title = "About";
}
<div class="container">

    <div class="row margin-bottom">
        <div class="col-md-12">
            <br/><br /><br />
            <h1 class="text-center header-underline">@ViewBag.Title</h1>
            <br /><br /><br />
        </div>

        <div class="col-md-6 image">
            <img class="img img-responsive" src="~/Content/img/1.png" />
        </div>
        <div class="col-md-6 description">
            <h3 class="text-justify">My Exam was built under the curriculum of the .NET Web Development course held at the <a href="https://scoalainformala.ro/" target="_blank">Informal School of IT.</a></h3>
        </div>
        </div>
    <div class="row margin-bottom">
        <div class="col-md-6 description">
            <h3 class="text-justify">It is an ASP.NET MVC5 web application which offers teachers and admin staff a convenient way to manage courses and their student's exams.</h3>
        </div>

        <div class="col-md-6 image">
            <img class="img img-responsive" src="~/Content/img/2.png" />
        </div>

    </div>
    <div class="row margin-bottom">
        

        <div class="col-md-6 image">
            <img class="img img-responsive" src="~/Content/img/3.png" />
        </div>
        <div class="col-md-6 description">
            <h3 class="text-justify">You can easily create exams and asign students to them.</h2>
</div>

</div>
    <div class="row margin-bottom">
        <div class="col-md-6 description">
            <h3 class="text-justify">View the list of your asigned students and modify it anytime.</h2>
</div>
        <div class="col-md-6 image">
            <img class="img img-responsive" src="~/Content/img/4.png" />
        </div>
</div>

    <div class="row margin-bottom">


        <div class="col-md-6 image">
            <img class="img img-responsive" src="~/Content/img/5.png" />
        </div>
        <div class="col-md-6 description">
            <h3 class="text-justify">Finally, the app will generate statistics to help you easily track the progress of your students.</h2>
</div>

    </div>
<hr/>

    <div class="row margin-bottom">
        <div class="col-md-12">
            <div class="col-md-12">
                <h1 class="text-bold text-center header-underline">
                    Our team
                </h1>
                <br/><br /><br />
            </div>
            <div class="col-md-3">
                <div class="about categories students her">
                    <div class="inner-text bold text-center">
                        <p>Nana</p>
                    </div>
                    <div class="hover-text">
                        <div class="about text-bold text-center center-positioned">
                            <p>Talk to her on Linkedin</p>
                        </div>
                        <a href="https://www.linkedin.com/in/iuga-anuta-b0874288/" target="_blank"></a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="about categories students him">
                    <div class="inner-text bold text-center">
                        <p>Angelo</p>
                    </div>
                    <div class="hover-text">
                        <div class="about text-bold text-center center-positioned">
                            <p>Talk to him on Linkedin</p>
                        </div>
                        <a href="https://www.linkedin.com/in/angelo-varga-33966084/" target="_blank"></a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="about categories students her">
                    <div class="inner-text bold text-center">
                        <p>Oana</p>
                    </div>
                    <div class="hover-text">
                        <div class="about text-bold text-center center-positioned">
                            <p>Talk to her on Linkedin</p>
                        </div>
                        <a href="javascript:void(0)" target="_blank" onclick="alert('no linkedin yet')"></a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="about categories students him">
                    <div class="inner-text bold text-center">
                        <p>Andrei</p>
                    </div>
                    <div class="hover-text">
                        <div class="about text-bold text-center center-positioned">
                            <p>Talk to him on Linkedin</p>
                        </div>
                        <a href="https://www.linkedin.com/in/andrei-marian-nemeti/" target="_blank"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row margin-bottom">
        <div class="col-md-12 text-center">
            <p><a href="/Home/contact" class="btn btn-danger btn-red-modified btn-lg" id="contactBtn">Contact us</a></p>
        </div>
    </div>
       

    </div>





