html, body {
    height: 100%;
}

body {
    padding-top: 50px;
    background: #f9f8f8;
}

.dl-horizontal dt {
    white-space: normal;
}

input, select, textarea {
    max-width: 280px;
}

.sortable {
    cursor: pointer;
}
/************************ buttons **********************/
.btn-danger, .btn-danger:focus {
    background: #f3576d;
}

    .btn-danger:hover {
        background: #c1132b;
    }

    .btn-danger:active {
        box-shadow: 0 19px 38px rgba(0, 0, 0, .3), 0 15px 12px rgba(0, 0, 0, .1);
        background: #e21834;
    }

.btn-success, .btn-primary, .btn-danger, .btn-info, .btn-default {
    position: relative;
    font-size: 13px;
    transition: .4s all;
}

    .btn-default:hover {
        color: black;
        border: 1px solid rgba(0, 0, 0, .3);
        background: transparent;
    }

    .btn-success:hover {
        background: transparent;
        border: 1px solid green;
        color: green;
    }

    .btn-primary:hover {
        background: transparent;
        border: 1px solid #428bca;
        color: #357ebd;
    }

    .btn-danger:hover {
        background: transparent;
        border: 1px solid #e21834;
        color: #e21834;
    }

    .btn-info:hover {
        background: transparent;
        border: 1px solid #5bc0de;
        color: #5bc0de;
    }

    .btn-success:active, .btn-primary:active, .btn-danger:active {
        top: 2px;
    }

.btn:focus, a:focus {
    outline: none;
}

#findOutMore {
    margin-top: 20px;
    background: #e21834;
}

#contactBtn {
    background: #e21834;
}

.btn-red-modified {
    box-shadow: 0 19px 38px rgba(0, 0, 0, .3), 0 15px 12px rgba(0, 0, 0, .1);
    border: 1px solid #e21834;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 4px solid #921a2a;
}

    .btn-red-modified:hover {
        background: #c1132b;
        border-bottom-color: #701420;
        color: white;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom: 4px solid #921a2a;
    }

    .btn-red-modified:active {
        top: 2px;
        box-shadow: 0 19px 38px rgba(0, 0, 0, .3), 0 15px 12px rgba(0, 0, 0, .1);
        background: #e21834;
        border-bottom-color: #b71d31;
    }

#goToTopBtn {
    display: none;
    position: fixed;
    bottom: 25px;
    right: 10px;
    z-index: 3;
    background-color: #e21834;
    color: white;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: none;
    z-index: 10;
}

    #goToTopBtn:active, #goToTopBtn:focus {
        outline: none;
    }
/*---------------------- NAVBAR -----------------------------------*/
.navbar-inverse.navbar-fixed-top {
    margin: 0;
    background: #052135;
    border-bottom: 1px solid #e21834;
}

.navbar-inverse .navbar-nav > li > a {
    transition: all .3s;
    color: #fff;
    margin-top: 2.5px;
}

    .navbar-inverse .navbar-nav > li > a:hover {
        color: #f2295b;
    }

.navbar-inverse .navbar-toggle, .icon-bar {
    border: 1px solid white;
}

.navbar-inverse .navbar-nav > .active > a {
    background: #e21834;
}

    .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
        background: #e21834;
    }
/*---------------------- LANDING PAGE STYLES -----------------------------------*/
.video-container {
    position: relative;
}

    .video-container:before {
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        background: rgba(2, 120, 203, 0.77);
        opacity: .8;
    }

#myVideo {
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
}

.text-white {
    color: white;
}

.bold {
    font-weight: bold;
}

.center-positioned {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
}

.min-height {
    min-height: 150px;
}

.align-center {
    display: flex;
    align-items: center;
}

h1, .header-underline {
    text-transform: uppercase;
    font-size: 35px;
}

p {
    font-family: 'Open Sans';
    font-size: 18px;
}

    p a {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

.scroll {
    width: 50px;
    margin: auto;
}

.glyphicon.glyphicon-chevron-down {
    display: block;
    color: white;
    opacity: .5;
    animation: blink 1s infinite;
}

.scroll .glyphicon:nth-child(1) {
    animation-delay: .5s
}

.scroll .glyphicon:nth-child(2) {
    animation-delay: .8s
}

.scroll .glyphicon:nth-child(3) {
    animation-delay: 1.1s
}

.scroll .glyphicon:nth-child(4) {
    animation-delay: 1.3s;
}
/**************************** Second page *************************/
#features {
    padding-top: 10px;
}

.features {
    position: relative;
    height: 300px;
    padding: 15px;
    border: 1px solid white;
    margin: 40px 0;
    background: blue;
    color: white;
    z-index: 1;
    box-shadow: 0 15px 45px rgba(25, 25, 30, 0.2), 0 3px 10px rgba(25, 25, 30, 0.2);
}

    .features:before {
        content: "";
        background: #186194;
        opacity: .7;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: .4s background;
    }

    .features:hover:before {
        background: #89216B;
        /*for old browsers*/
        background: linear-gradient(to right, #89216B, #DA4453);
        opacity: .8;
    }

.inner-text {
    position: relative;
}

.categories p {
    font-size: 27px;
}

.features .icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 5px solid white;
    margin: 0 auto;
    padding: 10px;
    font-size: 15px;
}

.feature1, .feature2, .feature3, .feature4 {
    padding: 0;
}

.feature1 {
    background: url("https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=37c91c8e3f63462e0739c676dfe8fee8&auto=format&fit=crop&w=750&q=80") center no-repeat;
    background-size: cover;
}

.feature2 {
    background: url("https://images.unsplash.com/photo-1485761954900-f9a29f318567?ixlib=rb-0.3.5&s=3b15f28d99ea256b58825755be5fdc81&auto=format&fit=crop&w=750&q=80") center no-repeat;
    background-size: cover;
}

.feature3 {
    background: url("https://images.unsplash.com/photo-1423666523292-b458da343f6a?ixlib=rb-0.3.5&s=50595a756bc8e923dc3a23b8f9115141&auto=format&fit=crop&w=753&q=80") center no-repeat;
    background-size: cover;
}

.feature4 {
    background: url("https://images.unsplash.com/photo-1502404679462-d669245fc482?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3ef5d7093916f0ff49461a52fe234703&auto=format&fit=crop&w=750&q=80") center no-repeat;
    background-size: cover;
}

.features header {
    padding: 15px 0 5px 0;
    background: #00000061;
    margin-bottom: 35px;
}

.feature-description {
    padding: 15px 5px;
    font-size: 13px;
}

    .feature-description p {
        font-size: 13px;
    }

.header-underline {
    position: relative;
    margin: 50px 0 30px 0;
}

    .header-underline:after {
        content: '';
        display: block;
        width: 200px;
        color: red;
        height: 3px;
        background: red;
        margin: 0 auto;
    }

.description-container {
    min-height: 400px;
    color: white;
    margin: 0;
    padding: 0;
    margin: 40px 0;
    box-shadow: 0 15px 45px rgba(25, 25, 30, 0.2), 0 3px 10px rgba(25, 25, 30, 0.2);
}

.left {
    align-self: center;
    background: url("https://images.unsplash.com/photo-1453799527828-cf1bd7b2f682?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bd8a0865795df373375af2843827a512&auto=format&fit=crop&w=749&q=80") center no-repeat;
    background-size: cover;
    height: 400px;
}

.left, .students, .teachers, .exams, .courses {
    display: table;
    position: relative;
}

    .left .inner-text, .students .inner-text, .teachers .inner-text, .exams .inner-text, .courses .inner-text {
        display: table-cell;
        vertical-align: middle;
    }

        .left .inner-text p {
            padding-bottom: 10px;
            border-bottom: 1px solid red;
        }

    .left:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #022f58;
        opacity: .8;
    }

.students, .teachers, .courses, .exams {
    height: 200px;
    width: 100%;
    padding: 0;
}

    .students:before, .teachers:before, .courses:before, .exams:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #3c86ca;
        opacity: .8;
    }

    .teachers:before, .courses:before {
        background: #a8c0ff;
        /* fallback for old browsers */
        background: linear-gradient(to right, #3f2b96, #a8c0ff);
    }

.students {
    background: url("https://images.unsplash.com/photo-1507207908229-c59ddb730e40?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=45ac490d65144fc7a2f65475e080f86b&auto=format&fit=crop&w=750&q=80") center no-repeat;
    background-size: cover;
}

.teachers {
    background: url("https://images.unsplash.com/photo-1512238972088-8acb84db0771?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=727880ca94d83b3dd33fcd308dc0092a&auto=format&fit=crop&w=750&q=80") center no-repeat;
    background-size: cover;
}

.courses {
    background: url("https://images.unsplash.com/photo-1511629091441-ee46146481b6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d22f0ea76aa44e822fa81f58c063a70d&auto=format&fit=crop&w=750&q=80") center no-repeat;
    background-size: cover;
}

.exams {
    background: url("https://images.unsplash.com/photo-1420547625303-0894752c1ffa?ixlib=rb-0.3.5&s=a0e7daad7185488440bd7bf238219358&auto=format&fit=crop&w=753&q=80") center no-repeat;
    background-size: cover;
}
/************ change text when hovering on cards Students Teachers Exams Courses *********/
.hover-text {
    opacity: 0;
    transition: .5s ease;
    background: #DA4453;
    /* fallback for old browsers */
    background: linear-gradient(to right, #89216B, #DA4453);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.categories:hover .hover-text {
    color: #fff;
    opacity: .9;
}

.categories:hover .inner-text {
    display: none;
}

#features .inner-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 110px;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.categories a {
    display: block;
    height: 100%;
    text-decoration: none;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
/*************************** FOOTER ****************************/
.footer {
    min-height: 150px;
    background: #052135;
    color: white;
    display: flex;
    align-items: center;
    padding: 15px 0;
}
/* in order for the footer to stay at the bottom when there's no content on the page */
.body-content {
    min-height: calc(100vh - 200px);
}

@media screen and (max-width:991px) {
    .footer {
        min-height: 350px;
    }

        .footer, .footer .nav-links {
            display: block;
        }
}

.footer .nav-links {
    display: flex;
    flex-direction: column;
}

/******************* TABLES **************************/
.table-responsive {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.1) 0px 15px 12px;
    margin: 0 auto 30px auto;
    border: 2px solid #3ed08e;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

    /*.table-responsive .situation {
        margin: 0 auto 70px auto;
    }*/


thead {
    background-color: #3ed08e;
}

thead a, thead th {
        color: white;
}


.tableTitle {
    margin-bottom: 30px;
}
/******************* situations controller **************************/
.situation-info {
    padding: 30px;
    border: 1px solid #3ed08e;
    color: #585656;
    border-radius: 3px;
    min-height: 210px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, .3), 0 15px 12px rgba(0, 0, 0, .1);
    margin-bottom: 20px;
}

    .situation-info .title {
        text-transform: uppercase;
        font-weight: bold;
    }

    .situation-info h1 {
        font-size: 60px;
        font-weight: bold;
        color: #3ed08e;
    }

.specializationYear {
    justify-content: flex-end;
}

.situation-info.overflow {
    overflow-y: scroll;
    height: 210px;
}

.searchSituation {
    min-height: 350px;
}

/*change the scrollbar*/
.situation-info.overflow::-webkit-scrollbar {
    width: 1em;
}

.situation-info.overflow::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.situation-info.overflow::-webkit-scrollbar-thumb {
    background-color: #3ed08e;
    outline: 15px solid #207750;
    ;
}

/******************* teachers controller **************************/

.teachers-div {
    position: relative;
    height: 300px;
    background: #f1f1f1;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, .3), 0 15px 12px rgba(0, 0, 0, .1);
    border-top: 15px solid #3ed08e;
}

    .teachers-div header {
        height: 90px;
        background: url("img/teachers.png") center no-repeat;
        opacity: 0.3;
        background-size: contain;
    }

    .teachers-div h3 {
        padding-bottom: 5px;
        border-bottom: 1px solid #d2d2da8c;
    }

    .teachers-div .teacherFooter {
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        padding-bottom: 8px;
    }

/******************* courses controller **************************/
.coursesController.courses {
    margin-bottom: 20px;
    color: white;
    text-align: center;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    border-top: 5px solid #e41a6d;
}

    .coursesController.courses:before {
        background: #3d4584;
    }

    .coursesController.courses .title {
        font-size: 18px;
    }

    .coursesController.courses .hover-text {
        border-radius: 5px;
        background: rgba(0,0,0, 0.6);
    }

    .coursesController.courses p {
        font-size: 15px;
    }

.coursesController .btn-group {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
    width: 60%;
    display: flex;
    justify-content: center;
}

.text {
    width: 95%;
}

#coursesTable {
    display: none;
}

/********************** about controller *****************/
.description {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;

}

.margin-bottom {
    margin-bottom:80px;
}
.about.students {
    color: white;
    margin-bottom:15px;
}
.about.students.him {

    background: url("img/developer.png");
}

.about.students.her {

    background: url("img/her.png") center no-repeat;
    background-size:80%;
}
.about.center-positioned {
    justify-content: center;
}

/******************* errors ***********************************/
.glyphicon-warning-sign {
    font-size: 130px;
}

/******************* media queries ***************************/

@media screen and (max-width: 1440px) {
    .resetForm {
        margin-bottom: 50px;
    }
}

@media screen and (min-width:1300px) {
    .center-positioned h1 {
        margin-top: -100px;
        font-size: 40px;
    }

    .full-width:after {
        width: 65%;
    }
}

@media all and (max-width:1300px) {
    .full-width:after {
        width: 95%;
    }
}

@media all and (max-width:991px) {
    .min-height {
        min-height: 70px;
    }
}

@media screen and (min-width:600px) {
    .video-container:before {
        height: 99.4%;
    }
}

@media screen and (max-width:780px) {
    #logo {
        margin-left: 10px;
    }
}

@media screen and (max-width:600px) {
    #myVideo {
        display: none;
    }

    .video-container {
        background: url("img/Working-it.jpg") center no-repeat;
        background-size: cover;
        min-height: 450px;
        height: 100vh;
    }

    .center-positioned h1 {
        font-size: 27px;
    }

    .coursesController.courses {
        min-height: 250px;
    }
}

/******************* animations ***************************/
@keyframes blink {
    from {
        opacity: 1;
    }

    to {
        opacity: .3;
    }
}


#pagStudents {
    margin: 20px 0;
    width: 200px;
}


